<mat-card>

    <button class="close" mat-icon-button [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>

    <mat-card-header class="header">
        <mat-card-title>Your profile</mat-card-title>
        <mat-card-subtitle>Username: {{data.user.username}}</mat-card-subtitle>
        <mat-card-subtitle>Email: {{data.user.email}}</mat-card-subtitle>
        <mat-card-subtitle>Birthday: {{data.user.birthday}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>Your favourite movies:</p>
        <mat-card-subtitle>{{this.data.user.favouriteMovies}}</mat-card-subtitle>
        <div class="favorites">
            <mat-card *ngFor="let movie of favMovies">
                <mat-card-header>
                    <mat-card-title style="align-items: center">{{movie.Title}}</mat-card-title>
                    <mat-card-subtitle>Directed by: {{ movie.Director.Name }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content><img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" /></mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        Genre
                    </button>
                    <button mat-raised-button color="primary">
                        Director
                    </button>
                    <button mat-raised-button color="primary">
                        Synopsis
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-card-content>

    <mat-card-content>
        <h2>Change your user data:</h2>
        <form>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="userData.username" placeholder='Username' type="text" name="Username"
                    required>
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="userData.password" type="password" placeholder="Password" name="Password"
                    required>
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="userData.email" type="email" placeholder='Email' name="Email" required>
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="userData.birthday" type="date" placeholder='Birthday' name="Birthday">
            </mat-form-field>
            <mat-card-actions class="button-wrapper">
                <button mat-raised-button (click)="updateUser()" color="primary" type="submit">
                    Save changes
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>

    <mat-card-actions class="button-wrapper">
        <button mat-raised-button (click)="deleteUser()" color="warn">
            DELETE ACCOUNT
        </button>
        <p class="warning">Deleting this account is permanent!</p>
    </mat-card-actions>
</mat-card>